// Utilities
@import "./assets/styles/utility/variables";

// Pages
@import "./assets/styles/pages/index.scss";
@import "./assets/styles/pages/hangman.scss";

// components 
@import "./assets/styles/components/nav";
@import "./assets/styles/components/footer";

* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}
