body {
  background-color: #28338c;
}
body .main-game {
  padding: 5%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  color: #dce9f7;
}
body .main-game .difficulty {
  margin: 2rem 0;
}
body .main-game .difficulty button {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}
body .main-game .hm__points {
  margin-bottom: 2rem;
}
body .main-game .hm__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body .main-game .hm__container #hm__boxes {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: 2rem;
  margin-bottom: 2rem;
}
body .main-game .hm__container #hm__boxes .hm__box-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #dce9f7;
}
body .main-game .hm__container #hm__boxes .hm__box-content .hm__box-char {
  color: #222f3e;
}
body .main-game .hm__container #hm__boxes .hm__box-content .hidden {
  display: none;
}
body .main-game .hm__container #hm__boxes .correct {
  background-color: #1dd1a1;
}
body .main-game .hm__keyboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}
body .main-game .hm__keyboard .correct {
  background-color: #1dd1a1 !important;
}
body .main-game .hm__keyboard .incorrect {
  background-color: #ff6b6b !important;
}
body .main-game .hm__keyboard .key {
  background-color: #dce9f7;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  border: none;
}
body .main-game .hm__keyboard .key:nth-child(25) {
  grid-row: 5/6;
  grid-column: 3/4;
}
body .main-game .hm__keyboard .key:nth-child(26) {
  grid-row: 5/6;
  grid-column: 4/5;
}
body .main-game .hm__lives {
  margin-top: 2rem;
}
body .main-game .hm__lives #hm__lives {
  color: #dce9f7;
}
body .main-game .hm__reset {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  margin-top: 2rem;
}